.containermodale {
    width: 100%;
    height: 100%;
    background: rgba(56, 56, 56, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
}

.separator {
    border-top: 1px solid rgba(100, 100, 100, 0.2);
}

.modale {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: white;
    z-index: 1050;
    padding: 5px;
}

.modal-children {
    max-height: 80vh;
}

@media screen and (max-width: 767px) {
    .containermodale {
        padding-top: 5%;
    }
    .modale {
        width: 85%!important;
    }
}