.battle {
    color: rgba(75, 57, 110, 0.795);
}

.track {
    color: rgba(158, 62, 24, 0.87);
}

.favorite {
    color: rgba(129, 173, 27, 0.822);
}

.complete {
    color: rgba(71, 75, 61, 0.295);
}

.current {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@media screen and (max-width: 767px) {
    .nomobile{
        display:none;
    }
    .mytext {
      font-size: 10px;
    }
  }